@font-face {
  font-family: GE_SS_Two_Bold;
  src: url(../font/GE_SS_Two_Bold.otf);
}

@font-face {
  font-family: GE_SS_Two_Light;
  src: url(../font/GE_SS_Two_Light.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: GE_SS_Two_Light;
}

#Heading {
  font-family: GE_SS_Two_Light;
}

#Heading2 {
  font-family: GE_SS_Two_Light;
  font-size: medium;
  color: #4c4949;
  display: flex;
  align-items: center;
}